<div class="card" style="width: 30vw;height: 40vh;">
    <span class="title">Queues</span>
    <div class="progress">
        <span id="progress-bar1" [@openClose]="isOpen ? 'open' : 'closed'" class="progress-bar progress-bar-striped bg-danger" style="height: 30%;" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">30%</span>
    </div>
    <span class="progress-title">Mail</span>
    <div class="progress">
        <span id="progress-bar2" [@openClose]="isOpen2 ? 'open' : 'closed'" class="progress-bar progress-bar-striped bg-danger" style="height: 40%;" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">40%</span>
    </div>
    <span class="progress-title">SMS</span>
    <div class="progress">
        <span id="progress-bar3" [@openClose]="isOpen3 ? 'open' : 'closed'" class="progress-bar progress-bar-striped bg-danger" style="height: 70%;"  role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">70%</span>
    </div>
    <span class="progress-title">Log</span>
</div>