<div class="card" style="width: 30vw;height: 40vh;">
    <span class="title">Queues</span>
    <div class="progress">
        <span #logQueueProgressBar id="progress-bar1" class="progress-bar progress-bar-striped bg-danger"
            style="height: 0;" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></span>
    </div>
    <span class="progress-title">Mail</span>
    <div class="progress">
        <span #mailQueueProgressBar id="progress-bar2" class="progress-bar progress-bar-striped bg-danger"
            style="height: 0;" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></span>
    </div>
    <span class="progress-title">SMS</span>
    <div class="progress">
        <span #smsQueueProgressBar id="progress-bar3" class="progress-bar progress-bar-striped bg-danger"
            style="height: 0;" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></span>
    </div>
    <span class="progress-title">Log</span>
</div>